body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #676767;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
  font-size: 27px;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.post-settings {
  display: inline-block;
  vertical-align: bottom;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.comment-img {
  height: 45px;
  width: 45px;
  margin-right: 16px;
}

#new-comment-btn {
  background-color: rgb(80, 154, 239);
  border-color: rgb(80, 154, 239);
}

#new-comment-btn:hover {
  background-color: rgb(59, 119, 187);
}

#update-btn {
  padding: 1px 4px;
  margin-bottom: 4px;
}

#update-btn:hover {
  background-color: rgb(77, 84, 89);
  color: white;
}

#delete-btn {
  background-color: rgb(202, 37, 53);
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  padding: 1px 4px;
  margin-bottom: 4px;
}

#delete-btn:hover {
  background-color: rgb(150, 29, 41);
}

#created-by {
  text-align: center;
}
